{% extends 'base.html.twig' %}

{% block nav %}

    <!-- container -->

    <!-- /container -->
{% endblock %}

{% block breadcrumb %}
    {% include('default/_breadcrumb.html.twig') %}
    <!-- /container -->
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('catalog') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('catalog') }}
{% endblock %}


{% block section %}
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- ASIDE -->
        <div id="aside" class="col-md-3">
            <!-- aside Widget -->
            <div class="aside">
                <h3 class="aside-title"><a href="{{ path('category', {id: 0}) }}">Categories</a></h3>
                <div class="catalog">
                    {{ catalog|raw}}
                </div>
            </div>
            <!-- /aside Widget -->

            <!-- aside Widget -->
            {{
                render(controller('App\\Controller\\CategoryController::randomProductAsideList'))
            }}
            <!-- /aside Widget -->
        </div>
        <!-- /ASIDE -->

        <!-- STORE -->
        <div id="store" class="col-md-9">
            <!-- store top filter -->
            <div class="store-filter clearfix">
                <div class="store-sort">
                    <label>
                        Sort By:
                        <select id="sort-select" class="input-select" onchange="location = this.value">
                            {% for option in order_options %}
                                {% if option == current_order %}
                                    <option selected value="{{ current_order }}">{{ option }}</option>
                                {% else %}
                                    <option value="{{ path('category', {id : category_id, page : 1, orderBy : option, count : number_of_products_per_page}) }}">{{ option }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>

                    <label>
                        Show:
                        <select class="input-select" onchange="location = this.value">
                            {% for option in count_options %}
                                {% if option == number_of_products_per_page %}
                                    <option selected value="{{ number_of_products_per_page }}">{{ option }}</option>
                                {% else %}
                                    <option value="{{ path('category', {id : category_id, page : 1, orderBy : current_order, count : option}) }}">{{ option }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <ul class="store-grid">
                    <li class="active"><i class="fa fa-th"></i></li>
                    <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                </ul>
            </div>
            <!-- /store top filter -->

            <!-- store products -->
            <div class="row">
                {% include('category/_product_list.html.twig') %}
                <div class="clearfix visible-sm visible-xs"></div>
                <div class="clearfix visible-lg visible-md"></div>
            <!-- /store products -->

            <!-- store bottom filter -->
            <div class="store-filter clearfix">
                {% if products|length > 0 %}
                <ul class="store-pagination">
                    {% if number_of_products > number_of_products_per_page %}
                        {% if current_page > 1 %}
                           <li style="width: 80px;"><a href="{{ path('category', {'id' : category_id, 'page' : 1}) }}">В начало</a></li>
                        {% endif %}

                        {% if number_of_pages - current_page > number_of_page_links-1 %}
                            {% set initial = current_page - 1 %}
                            {% if initial == 0 %}
                                {% set initial = 1 %}
                            {% endif %}
                            {% for i in range(1,number_of_page_links ) %}
                                {% if initial == current_page %}
                                    <li class="active">{{ current_page }}</li>
                                {% else %}
                                    <li><a href="{{ path('category', {'id' : category_id, 'page' : initial, 'orderBy' : current_order, 'count' : number_of_products_per_page}) }}">{{ initial }}</a></li>
                                {% endif %}
                                {% set initial = initial + 1 %}
                            {% endfor %}
                        {% else %}
                            {% set initial = number_of_pages - number_of_page_links + 1 %}
                            {% if initial == 0 %}
                                {% set initial = 1 %}
                            {% endif %}
                            {% for i in range(1,number_of_page_links ) %}
                                {% if initial == current_page %}
                                    <li class="active">{{ current_page }}</li>
                                {% else %}
                                    <li><a href="{{ path('category', {'id' : category_id, 'page' : initial, 'orderBy' : current_order, 'count' : number_of_products_per_page}) }}">{{ initial }}</a></li>
                                {% endif %}
                                {% set initial = initial + 1 %}
                            {% endfor %}
                        {% endif %}

                        {% if current_page != number_of_pages %}
                            <li><a href="{{ path('category', {'id' : category_id, 'page' : current_page+1}) }}"><i class="fa fa-angle-right"></i></a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            <!-- /store bottom filter -->
        </div>
        <!-- /STORE -->
    </div>
    <!-- /row -->
</div>

<!-- /container -->
{% endblock %}

