<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    {% include('default/_flash_message.html.twig') %}

    <div id="top-header">
        <div class="container">

            <ul class="header-links pull-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('profile') }}"><i class="fa fa-user-o"></i>My profile</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}"><i class="fa fa-user-o"></i> Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{{ path('homepage') }}" class="logo">
                            <img src="{{asset('img/logo.png')}}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                {{
                    render(controller('App\\Controller\\SearchController::searchBar',
                    {
                        'id' : app.request.query.get('category') ? app.request.query.get('category') : 0,
                        'query' : app.request.query.get('q') ? app.request.query.get('q') : '',
                    }))
                }}
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">2</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        {% include('default/_cart.html.twig') %}
                        <!-- will change to render controller later -->
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
