<div class="col-md-6">
    <div class="header-search">
        <form method="GET" action="{{ path('search') }}">
            <select class="input-select" name="category">
                <option value="0">All Categories</option>
                {% if categories|length > 0 %}
                    {% for category in categories %}
                         {% if category.id == category_id %}
                            <option selected value="{{ category.id }}">{{ category.name }}</option>
                         {% else %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                         {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
            <input class="input" name="q" value="{{ query }}" placeholder="Search here">
            <button class="search-btn">Search</button>
        </form>
    </div>
</div>