{% extends 'base.html.twig' %}

{% block nav %}

    <!-- container -->

    <!-- /container -->
{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb" class="section">

    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="active">Search</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>

</div>
{% endblock %}

{% block section %}


<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- ASIDE -->
        <div id="aside" class="col-md-3">
            {{
                render(controller('App\\Controller\\CategoryController::randomProductAsideList'))
            }}
        </div>
        <!-- /ASIDE -->

        <!-- STORE -->
        <div id="store" class="col-md-9">
            <!-- store top filter -->
            <div class="store-filter clearfix">
                <div class="store-sort">
                    <label>
                        Sort By:
                        <select id="sort-select" class="input-select" onchange="location = this.value">
                            {% for option in order_options %}
                                {% if option == current_order %}
                                    <option selected value="{{ current_order }}">{{ current_order }}</option>
                                {% else %}
                                    <option value="{{ path('search', {'q' : query, page : 1, orderBy : option, count : number_of_products_per_page}) }}">{{ option }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>

                    <label>
                        Show:
                        <select class="input-select" onchange="location = this.value">
                            {% for option in count_options %}
                                {% if option == number_of_products_per_page %}
                                    <option selected value="{{ number_of_products_per_page }}">{{ option }}</option>
                                {% else %}
                                    <option value="{{ path('search', {'q' : query, page : 1, orderBy : current_order, count : option}) }}">{{ option }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <ul class="store-grid">
                    <li class="active"><i class="fa fa-th"></i></li>
                    <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                </ul>
            </div>
            <!-- /store top filter -->

            <!-- store products -->
            <div class="row">
                {% include('category/_product_list.html.twig') %}
                <div class="clearfix visible-sm visible-xs"></div>
                <div class="clearfix visible-lg visible-md"></div>
            </div>
            <!-- /store products -->

            <!-- store bottom filter -->
            <div class="store-filter clearfix">
                {% include('search/_pagination.html.twig') %}
            </div>
            <!-- /store bottom filter -->
        </div>
        <!-- /STORE -->
    </div>
    <!-- /row -->
</div>

<!-- /container -->
{% endblock %}

