{% extends 'base.html.twig' %}

{% block section %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- BREADCRUMB -->
                <div id="breadcrumb" class="section">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="breadcrumb-header">Checkout</h3>
                                <ul class="breadcrumb-tree">
                                    <li><a href="{{ path('homepage') }}">Home</a></li>
                                    <li class="active">Checkout</li>
                                </ul>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /BREADCRUMB -->

                <div class="col-md-7">
                    <!-- Billing Details -->

                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Billing address</h3>
                        </div>
                        <div id="form-box">

                        {{ form_start(formOrder) }}



                        <div class="form-group">
                            {{ form_label(formOrder.customer_name) }}
                            {{ form_widget(formOrder.customer_name) }}
                            {{ form_errors(formOrder.customer_name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(formOrder.email) }}
                            {{ form_widget(formOrder.email) }}
                            {{ form_errors(formOrder.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(formOrder.phone) }}
                            {{ form_widget(formOrder.phone) }}
                            {{ form_errors(formOrder.phone) }}
                        </div>

                        {{ form_end(formOrder) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-checkbox">
                            <input type="checkbox" id="create-account">
                            <label for="create-account">
                                <span></span>
                                Create Account?
                            </label>
                            <div class="caption">
                                <a href="{{ path('app_register') }}" class="btn btn-link btn-dark">
                                    <i class="fa fa-user"></i>
                                    <span>Create an account</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /Billing Details -->
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Your Order</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>

                        {% set sum = 0 %}
                        {% for item in items %}
                            <div class="order-products">
                            <div class="order-col">
                                <div>{{ item.product.name }}</div>
                                <div>{{ item.product.price }}</div>
                            </div>
                        </div>
                            {% set sum = sum + item.product.price %}
                        {% endfor %}
                        <div class="order-col">
                            <div>Shiping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">${{ sum }}</strong></div>
                        </div>
                    </div>


                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            I've read and accept the <a href="#">terms & conditions</a>
                        </label>
                    </div>
                    <a href="#" class="primary-btn order-submit">Place order</a>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}